html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #7a7a9d;
  border-radius: 3px;
}

::-webkit-scrollbar-track {
  background: #dde1ef;
  border-radius: 3px;
}
